__pycache__/
active.txt
active.txt.download
active.txt.download2
active.txt.download3
active.txt.download4
active.txt.download5
active.txt.download6
active.txt.download7
active.txt.download8
arduino/
csv/
de421.bsp
pendiente.py
tests/
viejo/